mat-card {
    margin: 3rem auto auto auto;
    max-width: 60%;
}

mat-form-field {
    display: block;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.create-link {
    margin-right: .5rem;
}