:host {
    display: block;     
    margin: 3rem auto auto auto;
    max-width: 60%;
}

mat-form-field {
    display: block;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.login-link {
    margin-right: 0.5rem;	
}